<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815445817184-rocvo266voq8cgpfr8dt2ntih3m4mu09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815445817184-rocvo266voq8cgpfr8dt2ntih3m4mu09</string>
	<key>API_KEY</key>
	<string>AIzaSyDlWFJlwAXzJcA3C6mI3hbXToV9txQ8wbc</string>
	<key>GCM_SENDER_ID</key>
	<string>815445817184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rioclinic</string>
	<key>PROJECT_ID</key>
	<string>rio-clinic-5764c</string>
	<key>STORAGE_BUCKET</key>
	<string>rio-clinic-5764c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815445817184:ios:24ea7c1000973fea6f5005</string>
</dict>
</plist>